.product-card{
    display: grid;
    background: rgb(2, 49, 68);
    grid-template-columns:1fr minmax(300px, 1300px) 1fr;
}

.product-card .cards{
  background: rgb(189, 220, 233);
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(18rem, 24rem));
  gap: 2rem;
  justify-content: center;
}

span{
    display: inline-block;
    width: 60px;
}


